/*********************************************************************************************
************************************ DEFAULT & REUSABLES VARIABLES ***************************************
*********************************************************************************************/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  /* Background colors */
  --bg-body-color: #fff;
  --bg-color-first: #33292a;
  --bg-color-second: #644b4f;
  --bg-color-third: #333333;
  --bg-color-fourth: #ededed;

  /* Links */
  --a-normal-color: #efa69d;
  --a-hover-color: #e9877b;

  /* Others */
  --light-color: #fff;
  --dark-color: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-body-color);
}

.bg-dark-brown {
  background-color: var(--bg-color-first);
}
.bg-light-brown {
  background-color: var(--bg-color-second);
}

/********************** ELEMENTS SPACING ***********************/

/* default margin & padding for sections - mobiles */
.section-mobile {
  padding: 50px 20px;
}

/************************** HEADINGS ***************************/

.h2-dark {
  color: var(--black-color);
}

.h2-light {
  color: var(--light-color);
}

h3 {
  font-size: 22px;
  color: var(--light-color);
}

.h3-dark {
  color: var(--dark-color);
}

/************************* PARAGRAPHS **************************/

p {
  font-size: 16px;
  text-align: justify;
}

.p-dark {
  color: var(--dark-color);
}

.p-light {
  color: var(--light-color);
}

/* default padding for paragraphs in sections - mobiles */
.p-padding-mobile {
  padding: 20px 0;
}

/************************* IMAGES **************************/

/*********************************************************************************************
************************************ HEADER + NAVIGATION *************************************
*********************************************************************************************/

/* MOBILE VIEWPORT */

.mobile-menu-icon {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

/* TABLET VIEWPORT */
/* DESKTOP VIEWPORT */

/*********************************************************************************************
************************************** HERO SECTION **************************************
*********************************************************************************************/

/* MOBILE VIEWPORT */

.hero-content {
  position: relative;
  height: 800px;
  background: url("./images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content h1 {
  position: absolute;
  bottom: 20px;
  right: 0px;
  padding: 20px;
  text-align: right;
  max-width: 250px;
  font-size: 45px;
  font-weight: 700;
  color: var(--light-color);
}

/* TABLET VIEWPORT */
/* DESKTOP VIEWPORT */

/*********************************************************************************************
************************************* ABOUT US SECTION ***************************************
*********************************************************************************************/

/* MOBILE VIEWPORT */
.about-us-image {
  width: 100%;
}

.about-us-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
/* TABLET VIEWPORT */
/* DESKTOP VIEWPORT */

/*********************************************************************************************
*********************************** WHAT WE DO SECTION ***************************************
*********************************************************************************************/

/* MOBILE VIEWPORT */

.what-we-do-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin: 25px 0;
}

.what-we-do-icons img {
  width: 80px;
  height: 80px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/* TABLET VIEWPORT */
/* DESKTOP VIEWPORT */

/*********************************************************************************************
*********************************** OUR TRIPS ************************************************
*********************************************************************************************/

/* MOBILE VIEWPORT */

.our-trips {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.image-gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.image-gallery img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.gallery-title {
  text-align: center;
  padding: 15px;
  width: 100%;
  background-color: var(--bg-color-fourth);
  border-radius: 5px;
}

/* TABLET VIEWPORT */
/* DESKTOP VIEWPORT */

/*********************************************************************************************
*********************************** WHERE DO YOU WANT TO GO? *********************************
*********************************************************************************************/

/* MOBILE VIEWPORT */

.btn-contact-us {
  margin-top: 35px;
}

.btn-contact-us a {
  padding: 10px 15px;
  background-color: var(--bg-color-fourth);
  text-decoration: none;
  color: var(--dark-color);
  border-radius: 5px;
  font-weight: 700;
  transition: background-color ease 1s, color ease 0.5s;
}

.btn-contact-us a:hover {
  background-color: var(--a-hover-color);
  color: var(--light-color);
}

/* TABLET VIEWPORT */
/* DESKTOP VIEWPORT */

/*********************************************************************************************
****************************************** REVIEWS *******************************************
*********************************************************************************************/

/* MOBILE VIEWPORT */

.reviews-users {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;
}

.reviews-user-image {
  display: flex;
  justify-content: center;
  width: 100%;
}

.reviews-user-image img {
  width: 100px;
  height: 100px;
  border-radius: 60%;
  object-fit: cover;
}

.reviews-user-name p {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: var(--dark-color);
}

/* TABLET VIEWPORT */
/* DESKTOP VIEWPORT */

/*********************************************************************************************
****************************************** FOOTER GALLERY ************************************
*********************************************************************************************/

.footer-gallery-img-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-gallery-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*********************************************************************************************
****************************************** CONTACT *******************************************
*********************************************************************************************/
.contact {
  background-color: var(--bg-color-third);
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact-btn a {
  color: var(--a-normal-color);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: color ease 0.5s, border-color ease 1s;
}

.contact-btn a:hover {
  color: var(--a-hover-color);
  border-bottom-color: var(--light-color);
}

.contact-rights {
  color: var(--light-color);
}
