/*********************************************************************************************
************************************ DEFAULT & REUSABLES VARIABLES ***************************
*********************************************************************************************/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  /* Background colors */
  --bg-body-color: #fff;
  --bg-color-first: #33292a;
  --bg-color-second: #644b4f;
  --bg-color-third: #333333;
  --bg-color-fourth: #ededed;

  /* Links */
  --a-normal-color: #efa69d;
  --a-hover-color: #e9877b;

  /* Others */
  --light-color: #fff;
  --dark-color: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-body-color);
}

.bg-light-brown {
  background-color: var(--bg-color-second);
}

/********************** ELEMENTS SPACING ***********************/
/* MOBILE VIEWPORT */

.mobile-content {
  padding: 50px 20px;
}

/* DESKTOP VIEWPORT */

@media (min-width: 768px) {
  .desktop-content {
    position: relative;
    width: 75%;
    max-width: 1080px;
    margin: auto;
  }
}

/************************** HEADINGS ***************************/

/* MOBILE VIEWPORT */

h1 {
  font-size: 45px;
  font-weight: 700;
  color: var(--light-color);
}
.h2-dark {
  color: var(--black-color);
  text-align: center;
}

.h2-light {
  color: var(--light-color);
  text-align: center;
}

h3 {
  font-size: 22px;
  color: var(--light-color);
}

.h3-dark {
  color: var(--dark-color);
}

/* DESKTOP VIEWPORT */

@media (min-width: 768px) {
  .h2-dark,
  .h2-light {
    text-align: center;
  }
}

/************************* PARAGRAPHS **************************/

p {
  font-size: 16px;
  text-align: justify;
}

.p-dark {
  color: var(--dark-color);
}

.p-light {
  color: var(--light-color);
}

/*********************************************************************************************
************************************ HEADER + NAVIGATION *************************************
*********************************************************************************************/
header {
  /* min-height: 68px; */
  background-color: var(--bg-color-first);
}

/* MOBILE VIEWPORT */

.menu-icon {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.desktop-navigation {
  display: none;
}

/* DESKTOP VIEWPORT */

@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .desktop-navigation {
    display: flex;
    justify-content: space-between;
  }
  .desktop-navigation li {
    padding: 24px 10px;
    list-style: none;
  }

  .desktop-navigation a {
    color: var(--light-color);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom ease 1s, color ease 1s;
  }

  .desktop-navigation a:hover {
    color: var(--a-hover-color);
    border-bottom: 1px solid var(--light-color);
  }
}

/*********************************************************************************************
************************************** HERO SECTION **************************************
*********************************************************************************************/

/* MOBILE VIEWPORT */

.hero-content {
  position: relative;
  height: 800px;
  background: url("./images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content h1 {
  position: absolute;
  bottom: 20px;
  right: 0px;
  padding: 20px;
  text-align: right;
  max-width: 250px;
}

/* DESKTOP VIEWPORT */
@media (min-width: 768px) {
  .hero-content h1 {
    max-width: 520px;
    font-size: 96px;
    top: 350px;
  }
}

/*********************************************************************************************
************************************* ABOUT US SECTION ***************************************
*********************************************************************************************/

/* MOBILE VIEWPORT */

.about-left h2 {
  margin-bottom: 20px;
}

.about-right {
  width: 100%;
  margin-top: 20px;
}

.about-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* DESKTOP VIEWPORT */

@media (min-width: 768px) {
  .about-content {
    display: flex;
    gap: 50px;
  }

  .about-left {
    width: 48%;
  }

  .about-left h2 {
    justify-content: flex-start;
  }
  .about-right {
    width: 48%;
  }
}

/*********************************************************************************************
*********************************** WHAT WE DO SECTION ***************************************
*********************************************************************************************/

.what-we-do {
  background-color: var(--bg-color-first);
}
.what-we-do-content h2 {
  margin-bottom: 20px;
}

.what-we-do-content p {
  margin-bottom: 80px;
}

/* MOBILE VIEWPORT */

.what-we-do-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
}

.what-we-do-icons img {
  width: 80px;
  height: 80px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/* DESKTOP VIEWPORT */

@media (min-width: 768px) {
  .what-we-do-icons {
    flex-direction: row;
  }
}

/*********************************************************************************************
*********************************** OUR TRIPS ************************************************
*********************************************************************************************/

/* MOBILE VIEWPORT */

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery-item {
  width: 100%;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.gallery-title {
  text-align: center;
  padding: 15px;
  background-color: var(--bg-color-fourth);
  border-radius: 5px;
}

/* DESKTOP VIEWPORT */
@media (min-width: 768px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery-item {
    width: 32%;
    height: 300px;
  }

  .gallery-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
}

/*********************************************************************************************
*********************************** WHERE DO YOU WANT TO GO? *********************************
*********************************************************************************************/

.where-go {
  background-color: var(--bg-color-second);
}

.where-go-content h2 {
  margin-bottom: 20px;
}

.where-go-content p {
  margin-bottom: 20px;
}

/* MOBILE VIEWPORT */

.btn-contact-us {
  margin-top: 35px;
}

.btn-contact-us a {
  padding: 12px;
  background-color: var(--bg-color-fourth);
  text-decoration: none;
  color: var(--dark-color);
  border-radius: 4px;
  font-weight: 700;
}

/* DESKTOP VIEWPORT */

@media (min-width: 768px) {
  .where-go-content {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .where-go-content h2 {
    text-align: justify;
    width: 25%;
  }

  .where-go-box {
    width: 75%;
  }

  .btn-contact-us a {
    transition: background-color ease 1s, color ease 0.5s;
  }
  .btn-contact-us a:hover {
    background-color: var(--a-hover-color);
    color: var(--light-color);
  }
}

/*********************************************************************************************
****************************************** REVIEWS *******************************************
*********************************************************************************************/

.reviews-content h2 {
  margin-bottom: 20px;
}

/* MOBILE VIEWPORT */

.reviews-item {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
  padding: 10px 0;
}

.reviews-image {
  display: flex;
  justify-content: center;
  width: 100%;
}

.reviews-image img {
  width: 100px;
  height: 100px;
  border-radius: 60%;
  object-fit: cover;
}

.reviews-user-name p {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: var(--dark-color);
}

/* DESKTOP VIEWPORT */

@media (min-width: 768px) {
  .reviews-list {
    display: flex;
    gap: 50px;
  }
}

/*********************************************************************************************
****************************************** FOOTER GALLERY ************************************
*********************************************************************************************/

/* MOBILE VIEWPORT */

.footer-gallery {
  display: flex;
  flex-wrap: wrap;
}

.footer-gallery-item {
  width: 100%;
}

.footer-gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DESKTOP VIEWPORT */

@media (min-width: 768px) {
  .footer-gallery-item {
    flex: 1 1 50%;
  }
}

/*********************************************************************************************
****************************************** CONTACT *******************************************
*********************************************************************************************/

/* MOBILE VIEWPORT */

.contact {
  background-color: var(--bg-color-third);
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact-btn a {
  color: var(--a-normal-color);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.contact-rights {
  color: var(--light-color);
  text-align: center;
}

/* DESKTOP VIEWPORT */

@media (min-width: 768px) {
  .contact-btn a {
    transition: color ease 0.5s, border-color ease 1s;
  }
  .contact-btn a:hover {
    color: var(--a-hover-color);
    border-bottom-color: var(--light-color);
  }
}
